<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:maxAspectRatio="2.4"
        tools:ignore="UnusedAttribute">
        <activity
            android:name="com.volcengine.effectone.SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:noHistory="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.EffectOne.Starting"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EffectAutoMainActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.EffectOne" />
    </application>

</manifest>